@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center center-block">
    <h1 style="font-size: 125px;">TriviaCrack</h1> <br /><br />
    <a href="@Url.Action("Play", "Home")" class="btn btn-primary btn-lg">Play</a>
</div>

